nav {
  background-color: black;
  width: 20%;
  padding-top: 100px;
  height: 100vh;
}
ul {
  list-style: none;
}
li {
  margin: 30px 20px;
  justify-content: center;
  align-content: center;
  display: flex;
}
button {
  width: 80%;
  height: 80px;
  background-color: bisque;
  border-radius: 20px;
  transition: ease-in-out 500ms;
}
button:hover {
  cursor: pointer;
  background-color: yellow;
  transition: ease-in-out 500ms;
  box-shadow: 0px 0px 5px 2px grey;
}
.activeLab {
  background-color: green;
  transition: ease-in-out 500ms;
}
